<app-game-date-header 
  *ngIf="!isSameDate"
  [date]="playerInfo.gameDateFin"
></app-game-date-header>

<div 
    class="historial-container"
    [ngClass]="{ 'historial-container-win': playerInfo.win, 'historial-container-loss': !playerInfo.win }"
>
    <app-match-summary-card
    [win]="playerInfo.win"
    [gameType]="gameType"
    [duration]="convertGameDuration(playerInfo.gameDuration)"
    ></app-match-summary-card>

  <app-player-center-info
    [championName]="playerInfo.championName"
    [items]="playerInfo.items"
    [kda]="{ kills: playerInfo.kills, deaths: playerInfo.deaths, assists: playerInfo.assists }"
    [win]="playerInfo.win"
  ></app-player-center-info>

    <div class="historial-card-right">
        <app-team-display [team]="allies"></app-team-display>
        <app-team-display [team]="enemies"></app-team-display>
        <div class="display">
          <app-display-historial-button 
            [win]="playerInfo.win" 
            [isRotated]="isRotated"
            (toggle)="toggleHistorial()"
          ></app-display-historial-button>
        </div>
      </div>
    </div>

<div class="display-historial">
  <app-historial-stats-display 
    [isRotated]="isRotated"
    [team]="allies"
    [puuid]="playerInfo.puuid"
    [duration]="convertGameDuration(playerInfo.gameDuration)"
  ></app-historial-stats-display>
  <app-historial-stats-display 
    [isRotated]="isRotated"
    [team]="enemies"
    [puuid]="playerInfo.puuid"
    [duration]="convertGameDuration(playerInfo.gameDuration)"
  ></app-historial-stats-display>
</div>