.historial-container {
    width: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.historial-container-win {
    background: linear-gradient(to right, rgba(52, 103, 27, 0.5), rgba(52, 103, 27, 0.6));
}

.historial-container-loss {
    background: linear-gradient(to right, rgba(103, 27, 27, 0.6), rgba(103, 27, 27, 0.46));
}

.historial-container-win, .historial-container-loss {
    height: 130px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.historial-card-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.display {
    display: flex;
}

.display-historial {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

