.browser-search {
    display: flex;
    align-items: center;
    position: relative;
}

.browser-search input {
    width: 275px;
    height: 41px;
    background: #2A2D30;
    border-radius: 15px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.browser-search input:focus {
    outline: none;
    box-shadow: 0 0 10px #16181a;
}

.browser-search button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.browser-search img {
    width: 20px;
    height: 20px;
}

.browser-search input:focus {
    outline: none;
}
