.browser-search {
    display: flex;
    align-items: center;
    position: relative;
}

.browser-search input {
    width: 275px;
    height: 41px;
    background: #2B2A29;
    border-radius: 15px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 40px;
}

.browser-search button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.browser-search img {
    width: 20px;
    height: 20px;
}
