<header class="encabezado">
    <div class="encabezado-logo">
        <img class="cat" src="svg/header/cat.png" alt="cat">
        <img class="riot" src="svg/header/riot-games.svg" alt="riot">
    </div>
    <div class="separador">
        <img src="svg/header/separator.svg" alt="separador">
    </div>
    <app-header-navegation></app-header-navegation>
    <app-header-browser></app-header-browser>
    <div class="separador-2">
        <img src="svg/header/separator.svg" alt="separador">
    </div>
    <app-header-profile></app-header-profile>
</header>