.encabezado {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: rgb(19 22 25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    color: #ffffff;
    padding: 0 20px;
}

.navigation-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.encabezado-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    margin-top: -45px;
}

.separador {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separador-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}