<div class="home-main">
  <div class="home-container">
    <div class="header-logo">
      <img src="webp/home/prolytics.webp" alt="Logo" loading="lazy">
    </div>
  
    <div class="home-content">
      <div class="side-image-left align-left"> 
        <img src="webp/home/poro.gif" alt="Personaje izquierda" loading="lazy">
      </div>
    
      <div class="browser-wrapper">
        <app-home-browser></app-home-browser>
      </div>
    </div>
  </div>
  <div>
    <app-home-winrate-stats></app-home-winrate-stats>
  </div>
</div>
