.navegation-container {
    display: flex;
    align-items: center;
}

.navegation-links {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegation-links a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    transition: color 0.3s;
}

.navegation-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: #ffffff;
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.navegation-links a:hover::after {
    width: 100%;
}
