<footer>
    <div class="footer-container">
      <div class="footer-nav">
        <h3>Prolytics</h3>
        <ul>
          <li><a href="/about">Acerca de nosotros</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/privacy-policy">Política de privacidad</a></li>
          <li><a href="/terms">Términos y condiciones</a></li>
          <li><a href="/faq">FAQs</a></li>
        </ul>
      </div>
      <div class="footer-socials">
        <h3>Sobre Mi</h3>
        <ul>
          <li><a href="https://www.linkedin.com/in/valentino-guzman/" target="_blank">LinkedIn</a></li>
         
          <li><a href="https://github.com/Valentino-Guzman" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Prolytics. Todos los derechos reservados.</p>
      <p>Desarrollado con ♥ por V</p>
    </div>
</footer> 