<div class="tier-list-container">
    <div class="tier-list-champions">
        <app-tier-list-champions [championImageFixes]="championImageFixes"></app-tier-list-champions>
    </div>
    <div class="tier-list-box">
        <div class="tier-list-header">
            
        </div>
        
        <div class="tier-list-champion" *ngFor="let champion of championsStats">
            <div class="champion-info">
                <div class="champion-image">
                    <img [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/' + getImageName(champion.championName) + '.png'" alt="">
                </div>
    
                <div class="champion-name">
                    <p>{{champion.championName}}</p>
                </div>
    
                <div class="champion-games">
                    <p>{{champion.games}}</p>
                </div>
    
                <div class="champion-kda">
                    <p>{{champion.role}}</p>
                </div>
    
                <div class="champion-winrate">
                    <p>{{champion.winrate}}%</p>
                </div>
    
                <div class="champion-pickrate">
                    
                </div>
            </div>
        </div>
    </div>
</div>