.champions-container {
    width: 320px;
    background: #3B393E;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.champions-header {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.champions-header h1 {
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.champion-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.champion-games {
    width: 100px;
}

.champions-content {
    padding: 1px;
}

.champion-kda {
    display: flex;
    width: 150px;
    justify-content: center;
}

.champion-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.champion-image {
    display: flex;
    width: 120px;
    justify-content: center;
}

.champion-image img{
    width: 60px;
    height: 60px;
    clip-path: circle(45% at center);
}

.champion-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.champion-games span {
    color: #ffc23b;
    font-size: 13px;
    font-weight: 300;
}

.champion-games p {
   margin: 0;
}

.champion-name p {
   margin: 0;
   margin-top: 1px;
}

.champion-name span {
    margin-top: 1px;
    font-size: 12px;
}

.champion-kda p, .champion-kda span, .champion-kda h1 {
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 13px;
    font-weight: 400;
}

.champion-kda h1 {  
    color: #6DBE45;
}

.champion-kda span {
    color: #DE3131;
}

.champion-kda p {
    color:#ffc23b;
}




