.browser-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.browser-container img {
    width: 20px;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.browser-container input {
    background-color: var(--color-bg);
    display: flex;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    color: #fff;
    padding: 10px;
    padding-right: 30px; /* Ajusta el espacio a la derecha para la lupa */
}

input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

input:focus {
    outline: none;
}
