.background {
    background: rgba(69, 65, 65, 0.5);
    margin: 25px;
    width: 100%;
    border-radius: 10px;
    width: 100%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mid-screen {
    display: flex;
}


