<div class="stats-container" *ngIf="champions.length > 0">
    <app-home-winrate-stats
    [champions]="champions"
    [getImageName]="getImageName"
    [getRoleIcon]="getRoleIcon"
    [championImageFixes]="championImageFixes"
    [roles]="roles">
    </app-home-winrate-stats>

    <app-home-ban-stats
    [bans]="bans"
    [getImageName]="getImageName"
    [championImageFixes]="championImageFixes"
    [roles]="roles">
    </app-home-ban-stats>

    <app-home-otp-stats
    [otp]="otp"
    [getImageName]="getImageName"
    [championImageFixes]="championImageFixes"
    [roles]="roles">
    </app-home-otp-stats>
</div>
