<div>
  <div *ngIf="isRotated" class="panel">
    <div class="panel-header">
      <p>{{ team[0].win ? 'Victoria' : 'Derrota' }}</p>
      <span>Resumen de daño</span>
      <span>K/D/A</span>
    </div>
    <div *ngFor="let p of team">
      <div class="panel-info" [ngClass]="{ 'user-profile': p.puuid === puuid}">
        <div class="player-info">
          <div class="champion-image">
            <img [src]="`https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/${p.championName}.png`" alt="">
            <span class="champ-level">{{p.champLevel}}</span>
          </div>
          <p>{{ p.riotIdGameName }}</p>
        </div>
        <div class="damage-bars">
          <div class="damage-block">
            <div class="damage-value tooltip-container">
              {{ p.totalDamageDealtToChampions | number: '1.0-0' }}
              <span class="tooltip-text">Daño infligido: {{ p.totalDamageDealtToChampions | number: '1.0-0' }}</span>
            </div>
            <div class="damage-bar-container">
              <div class="damage-bar dealt" [style.width.%]="getBarWidth(p.totalDamageDealtToChampions)"></div>
            </div>
          </div>
          <div class="damage-block">
            <div class="damage-value tooltip-container">
              {{ p.totalDamageTaken | number: '1.0-0' }}
              <span class="tooltip-text">Daño recibido: {{ p.totalDamageTaken | number: '1.0-0' }}</span>
            </div>
            <div class="damage-bar-container">
              <div class="damage-bar taken" [style.width.%]="getBarWidth(p.totalDamageTaken)"></div>
            </div>
          </div>
        </div>  
        <div class="kda">
          <p>{{p.kills}} / <strong>{{p.deaths}}</strong> / {{p.assists}}</p>
        </div>  
        <div class="runes">
          <img [src]="runesService.getRuneIconUrl(p.perks.styles[0].selections[0].perk)" alt="Runa clave" width="32" height="32" />
          <div class="rune-secondary">
            <img [src]="runesService.getStyleIconUrl(p.perks.styles[1].style)" alt="Estilo secundario" width="32" height="32" />
          </div>
        </div>
        <div class="summoner-spells">
          <img [src]="spellService.getSpellIconUrl(p.summoner1Id)" alt="Hechizo 1" width="22" height="22" />
          <img [src]="spellService.getSpellIconUrl(p.summoner2Id)" alt="Hechizo 2" width="22" height="22" />
        </div>
      </div>
    </div>
  </div>
</div>
