.rank-container {
    width: 320px;
    height: 360px;
    background: #3B393E;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.iron {
    color: #948a7e;
}

.bronze {
    color: rgb(187 166 113);
}

.silver {
    color: #6a79ab;
}

.gold {
    color: #ba8d26;
}

.platinum {
    color: #5caba0;
}

.emerald {
    color:  #4AC97E;
}

.diamond {
    color: #7989ec;
}

.master {
    color: #BD9AF8;
}

.grandmaster {
    color: #c23449;
}

.challenger {
    color: #dbaf47;
}


.color-default {
    color: #FFFFFF;
}

.elo-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elo-stats p {
    color: #6DBE45;
    font-weight: normal;
    margin: 0;
    font-size: 15px;
}

.elo-stats span {
    color: #BE3D3D;
    font-size: 15px;
}

.elo-stats img {
    margin-right: 10px;
    margin-left: 10px;
}

.elo-info {
    display: flex;
    flex-direction: column;
    height: 135px;
    justify-content: center;
    margin-left: 15px;  
}

.elo-info p {
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.elo-info span {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.elo-info h1 {
    margin: 0;
    font-size: 20px;
}

.elo-icon {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.elo-icon img {
    width: 100px;
    height: 100px;
}

.elo-header {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.elo-stats .winrate {
    color: #FFFFFF;
    font-weight: lighter;
    margin-left: 5px;
    font-size: 14px;
}

.separation {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}