<div class="rank-container">
    <div *ngFor="let player of eloPlayers">
        <div class="elo-header">
            <div class="elo-icon">
                <img [src]="getEloIcon(player.tier)" alt="elo-rank">
            </div>
            <div class="elo-info" [ngClass]="getColorElo(player.tier)">
                <h1>{{player.tier}} {{player.rank}}</h1>
                <span>{{player.leaguePoints}} LP</span>
                <p>{{player.queueType}}</p>
            </div>
        </div>
        <div class="elo-stats">
            <p>Victorias: {{player.wins}}</p>
            <img src="svg/profile/separation.svg" alt="">
            <span>Derrotas: {{player.losses}}</span>
            <p class="winrate">(wr: {{player.winrate}}%)</p>
        </div>
        <div class="separation">
            <img src="webp/profile/separation2.png" alt="">  
        </div>
    </div>
</div>