<div class="sorting-controls">

    <button>
      Champions
    </button>

    <button (click)="onSortChange('tierRank')">
      Tier
      <span *ngIf="sortKey === 'tierRank'">
        <div [ngClass]="sortDirection">
          <img src="webp/stats/arrow-up.svg" alt="arrow" width="16" height="16" />
        </div>
      </span>
    </button>

    <button (click)="onSortChange('winrate')">
      Winrate
      <span *ngIf="sortKey === 'winrate'">
        <div [ngClass]="sortDirection">
          <img src="webp/stats/arrow-up.svg" alt="arrow" width="16" height="16" />
        </div>
      </span>
    </button>
  
    <button (click)="onSortChange('pickrate')">
      Pickrate
      <span *ngIf="sortKey === 'pickrate'">
        <div [ngClass]="sortDirection">
          <img src="webp/stats/arrow-up.svg" alt="arrow" width="16" height="16" />
        </div>
      </span>
    </button>
  
    <button (click)="onSortChange('banrate')">
      Banrate
      <span *ngIf="sortKey === 'banrate'">
        <div [ngClass]="sortDirection">
          <img src="webp/stats/arrow-up.svg" alt="arrow" width="16" height="16" />
        </div>
      </span>
    </button>
</div>