.sorting-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
  
button {
    width: 90px;
    padding: 8px 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    transition: all 0.1s ease;
    color: #c8ab6e;
    font-weight: 600;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    color: #c8ab6e;
    font-weight: 600;
    font-size: 13px;
    margin: 0;
}

button:hover {
    color: #cca859;
}
  
.asc img {
    transform: rotate(0deg);
}
  
.desc img {
    transform: rotate(180deg);
}
  
.asc img,
.desc img {
    transition: transform 0.1s ease;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.asc img,
.desc img {
    position: absolute;
    z-index: 0;
}