<div class="tier-list-container">
  <app-tier-list-champions-browser
    [(searchQuery)]="searchQuery"
    (championSelected)="onChampionSelected($event)"
    [champions]="championsName">
  </app-tier-list-champions-browser>

  <app-tier-list-champions-buttons
    (roleSelected)="onRoleSelected($event)">
  </app-tier-list-champions-buttons>

  <app-loading [loading]="loading">
    <div *ngFor="let letter of letters">
      <ng-container *ngIf="getChampionsByLetterAndRole(letter).length > 0">
        <div class="tier-list-letter">
          <h2>{{ letter }}</h2>
          <div class="tier-list-champions">
            <div *ngFor="let champion of getChampionsByLetterAndRole(letter)">
              <div class="champion-card">
                <img [width]="35" [height]="35"
                  [ngSrc]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/' + getImageName(champion.championName) + '.png'"
                  alt="{{champion.championName}}" />
                <p class="truncate">{{ champion.championName }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </app-loading>
</div>
