<div class="filter-main">
    <div class="filter-container">
        <div class="elo">
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    
        <div class="region">
            <select name="" id="">
                <option value="">las</option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
</div>