<div class="stats-container">
    <div class="stats-box" *ngIf="bans.length > 0">
      <div class="stats-header">
        <div class="title">
          <h1>Ban List 15.8</h1>
        </div>
        <div class="stats-subtitle">
          <span>Champions</span>
          <span>Ban Count</span>
          <span>Banrate</span>
        </div>
      </div>
      <div class="stats-data">
        <div class="stats" *ngFor="let stat of bans">
          <div class="champion-img-container">
            <img class="champion-img" 
                 [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/' + getImageName(stat.championName) + '.png'" 
                 alt="{{ stat.championName }}"
                 loading="lazy">
          </div>
  
          <div class="champion-name">{{ stat.championName }}</div>
  
          <div class="champion-content">
            <div class="champion-bancount">
              {{ stat.banCount }}
            </div>
            
            <div class="champion-banrate">
                {{stat.banrate | number: '1.0-2':'en-US'}}%
            </div>
          </div>
        </div>
      </div>
    </div>
</div>