.stats-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stats-box {
    border: 1px solid var(--border-glow);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    color: var(--color-text);
    background-color: var(--color-bg);
    width: 350px;
}

.stats {
    display: grid;
    grid-template-columns: 44px 86px 100px 45px;
    gap: 15px;
    padding: 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.1s ease-in-out;
    align-items: center;
}

.stats-header {
    display: flex;
    flex-direction: column;
}

.stats-subtitle, .title  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-subtitle {
    margin-left: 16px;
    margin-right: 10px;
}

.title span {
    margin-right: 65px;
    font-weight: 400;
}

.stats-subtitle span {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.7;
    text-shadow: 0 0 4px #ffffff;
}


.stats:hover {
    border-top: 1px solid var(--border-glow);
    border-bottom: 1px solid var(--border-glow);
    cursor: pointer;
}

.champion-name {
    width: 50px;
    margin-left: 6px;
}

.champion-img-container {
    position: relative;
}

.champion-img-container,
.champion-img {
    width: 55px;
    height: 55px;
}
  
.champion-img {
    clip-path: inset(6% 6% 4% 6%);
    border-radius: 20px;
}

.champion-role {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 1);
    border: 1px solid #5D5A60;
    padding: 2px 2px;
}

.champion-role img {
    width: 17px;
}

.stats-header h1, span {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    opacity: 0.7;
    text-shadow: var(--text-shadow-glow);
}

.champion-content {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.champion-bancount, .champion-banrate {
    text-align: center;
    width: 50px;
}