.border-button {
    width: 35px;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

button {
    border: none;
}

.border-button svg {
    color: #382828;
    transition: transform 0.3s ease;
}

.border-button-win {
    background-color: rgb(41 158 219 / 60%);
}

.border-button-loss {
    background-color: rgba(190, 69, 69, 0.60);
}

.rotated {
    transform: rotate(180deg);
}
