<div class="stats-container">
    <div class="stats-box" *ngIf="otp.length > 0">
      <div class="stats-header">
        <div class="title">
          <h1>OTP List 15.8</h1>
          <span>Best of LAS</span>
        </div>
        <div class="stats-subtitle">
          <span>Summoner</span>
          <span>Games</span>
          <span>Winrate</span>
        </div>
      </div>
      <div class="stats-data">
        <div class="stats" *ngFor="let stat of otp">
          <div class="champion-img-container">
            <img class="champion-img" 
                [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/' + getImageName(stat.championName) + '.png'" 
                alt="{{ stat.championName }}"
                loading="lazy">
          </div>
  
          <div class="champion-name">
            <p>{{ stat.summonerName }}</p>
          </div>
  
          <div class="champion-content">
            <div class="champion-bancount">
              {{ stat.KDA }}
            </div>
            
            <div class="champion-banrate">
                {{stat.winRate}}
            </div>
          </div>
        </div>
      </div>

      <app-home-button-stats
        [buttonLink]="'/otp-list'"
      ></app-home-button-stats>

    </div>
</div>