.historial-container {
    width: 500px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.historial-container-win {
    background: rgba(52, 103, 27, 0.5);
}

.historial-container-loss {
    background-color: rgba(103, 27, 27, 0.46);
}

.historial-container-win, .historial-container-loss {
    height: 110px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.border-card {
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 110px;
    position: absolute;
}

.info-card p{
   margin: 0   
}

.border-card-win {
    background-color: rgba(109, 190, 69, 0.62);
}

.border-card-loss {
    background-color: rgba(190, 69, 69, 0.62);
}

.info-card {
    width: 100px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-card-loss p {
    color: #DE3131;
}

.info-card-win p {
    color: #31DE45;
}

.info-card span {
    font-size: 11px;
    color: #FFFFFF;
    font-weight: 300
}

.player-kda  {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
}

.historial-center {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 100px; 
}

.historial-center img {
    width: 85px;
    height: 85px;
    border-radius: 50px;
}

.player-kda-container {
    display: flex;
    align-items: center;   
}

.champion-img {
    clip-path: circle(45% at center);
}

.items-container img{
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.stats-player-win img {
    background-color: #579738;
}

.stats-player-loss img {
    background-color: #973838;
}

.stats-player {
    display: flex;
}

.items-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.item-box {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-box-win {
    background-color:#579738;
}

.item-box-loss {
    background-color:#973838;
}

.player-kda-container {
    display: flex;
    align-items: center;   
}

.player-stats {
    margin-left: 10px;
}

.historial-card-left {
    display: flex;
    margin-bottom: 0px;
}

.info-bottom {
    margin-bottom: 5px;
}

.game-type img {
    margin-bottom: 4px;
}

.time p {
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 0px;
}

