<div *ngFor="let playerInfo of player; let i = index">
    <div class="time" *ngIf="!isSameDate(playerInfo?.gameDateFin, i)">
        <p>{{ playerInfo.gameDateFin }}</p>    
    </div>
    <div class="historial-container">
        <div 
            class="historial-card-left" 
            [ngClass]="{ 'historial-container-win': playerInfo.win, 'historial-container-loss': !playerInfo.win }"
        >
            <div 
                class="border-card"
                [ngClass]="{ 'border-card-win': playerInfo.win, 'border-card-loss': !playerInfo.win }"
            ></div>
    
            <div 
                class="info-card"
                [ngClass]="{ 'info-card-win': playerInfo.win, 'info-card-loss': !playerInfo.win }"
            >
                <div class="game-type">
                    <span>{{ gameType }}</span>
                    <img src="webp/profile/separation.png" alt="">
                </div>
                <div class="info-bottom">
                    <p>{{ playerInfo.win ? 'Victoria' : 'Derrota' }}</p>
                    <span>{{ convertGameDuration(playerInfo.gameDuration) }}</span> 
                </div>
            </div>    
        </div>
        <div class="historial-center">
            <img class="champion-img" 
                 [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/' + playerInfo.championName + '.png'" 
                 alt="hecarim">
            <div class="player-stats">
                <div class="items-container">
                    <div 
                        class="item-box" *ngFor="let item of playerInfo.items"
                        [ngClass]="{ 'item-box-win': playerInfo.win, 'item-box-loss': !playerInfo.win }"
                        
                        >
                        <img *ngIf="item && item !== '0'" class="item-img" 
                             [src]="'https://ddragon.leagueoflegends.com/cdn/15.7.1/img/item/' + item + '.png'" 
                             alt="item">
                    </div>
                </div>
                <div class="player-kda-container">
                    <span class="player-kda">{{ playerInfo.kills }} / {{ playerInfo.deaths }} / {{ playerInfo.assists }}</span>
                </div>
            </div>
        </div> 
        <div class="historial-card-right">
            <div class="team-section">
              <div *ngFor="let p of getAllies(i, playerInfo.teamId)" class="player-container">
                <div class="champions-icon">
                    <img [src]="`https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/` + p.championName + '.png'" alt="">
                </div>
                <div class="info-player">
                    <p>{{p.riotIdGameName}}</p>
                </div>
              </div>
            </div>
            <div class="team-section">
                <div *ngFor="let p of getEnemies(i, playerInfo.teamId)" class="player-container">
                  <div class="champions-icon">
                      <img [src]="`https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/` + p.championName + '.png'" alt="">
                  </div>
                  <div class="info-player">
                      <p>{{p.riotIdGameName}}</p>
                  </div>
                </div>
              </div>
          </div>
    </div>  
</div>
